services:
  db:
    image: postgres:16-alpine
    container_name: swen3-db
    environment:
      POSTGRES_USER: swen3
      POSTGRES_PASSWORD: swen3pass
      POSTGRES_DB: swen_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  minio:
    image: minio/minio
    container_name: swen3-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: Swen3.API/Dockerfile
    container_name: swen3-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=swen_db;Username=swen3;Password=swen3pass
      - Messaging__Host=rabbitmq
      - Messaging__Port=5672
      - Messaging__Username=guest
      - Messaging__Password=guest
      - Messaging__VirtualHost=/
      - Messaging__Exchange=documents
      - Messaging__RoutingKey=document.uploaded
      - Messaging__Queue=documents.ocr
      - Messaging__DeadLetterExchange=documents.dlx
      - Messaging__DeadLetterQueue=documents.ocr.dlq
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=minioadmin
      - Minio__SecretKey=minioadmin
      - Minio__BucketName=documents
      - Minio__UseSsl=false
      - Elasticsearch__Url=http://elasticsearch:9200
      - Elasticsearch__IndexName=documents #index name for the elasticsearch container maps to the documents table in the database
    depends_on:
      db:
        condition: service_started
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: swen3-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_DEFAULT_VHOST: "/"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  frontend:
    build:
      context: ./Swen3.Frontend
      dockerfile: Dockerfile
    container_name: swen3-frontend
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_BASE_URL=
    depends_on:
      - api
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: swen3-nginx
    ports:
      - "3030:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - api
    restart: unless-stopped

  ocrworker:
    build:
      context: .
      dockerfile: Swen3.Services/Dockerfile
    container_name: swen3-ocrworker
    environment:
      - Minio__Endpoint=minio:9000
      - Minio__AccessKey=minioadmin
      - Minio__SecretKey=minioadmin
      - Minio__BucketName=documents
      - Minio__UseSsl=false
      - Elasticsearch__Url=http://elasticsearch:9200
      - Elasticsearch__IndexName=documents
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    restart: unless-stopped

  gemini:
      build:
        context: . 
        dockerfile: Swen3.Gemini/Dockerfile
      ports:
        - "8090:8090"
      env_file:
        - Swen3.Gemini/.env

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
    container_name: swen3-elasticsearch
    environment:
      - discovery.type=single-node #no cluster, just one node
      - xpack.security.enabled=false # dissables authentication
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m" # sets the memory for the elasticsearch container
    ports:
      - "9200:9200"
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q '\"status\":\"green\"\\|\"status\":\"yellow\"'"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local
  rabbitmq_data:
    driver: local
  minio_data:
    driver: local
  elasticsearch_data:
    driver: local
